.container {
  max-width: 800px;
  margin: 40px auto;
  padding: 30px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: 0 8px 16px rgba(0,0,0,0.15);
  color: #333;
  font-family: 'Arial', sans-serif;
}
.containerInterval {
  margin-bottom: 20px;
}
/* .containerInterval {
  display: flex;
  flex-direction: column;
} */
.line, .containerInterval div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 0; */
}
.button {
  display: inline-block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
}

.button:hover {
  background-color: #45a049;
}
.h5 {
  font-size: 18px;
  font-weight: 600;
  color: #444;
  padding-bottom: 5px;
  /* border-bottom: 1px solid #ddd; */
}
/* .line {
  display: flex;
  align-items: center;
} */
.end {
  margin-left: 1em;
}

.listChoices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  gap: 15px;
  margin-top: 20px;
}

.choiceItem {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.choiceItem:hover {
  background-color: #e9e9e9;
  /* transform: translateY(-1px); Effet de lévitation légère */
}

.noChoice {
  grid-column: 1 / -1; /* S'étend sur toutes les colonnes */
  text-align: center;
  color: #666;
}