.wrapper {
  height: 100vh;
  background: rgb(2,0,36);
  background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(2,0,36,1) 20%, rgba(81,45,168,1) 100%);
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
}
